@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

header .logo-left {
  display: none;
}

header .logo-right {
  display: none;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
  margin-bottom: 0;
  line-height: 1.5em;
}

nav {
  background-color: #000;
}

li {
  display: inline-block;
  width: 45%;
  text-align: center;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
}

div {
  display: block;
  margin-right: 0;
  padding-top: .7em;
  padding-bottom: 3em;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

section img {
  width: 100px;
  display: block;

}

h2 {
  font-size: 2rem;
  margin: 0;
  padding-left: .4em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Anton', sans-serif;
  padding-bottom: 1px;
}

p {
  font-size: .875rem;
  margin: 0;
  padding-left: .4em;
  font-family: 'Heebo', sans-serif;
}

.lava {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 2px;
}

.truffles {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 2px;
}

.brownies {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 2px;
}

.cake {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 4px;
}

.chef {
  width: 100%;
  display: inline;
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-size: .875rem;
  margin: 0;
  padding-left: .4em;
  padding-bottom: .7em;
}

h4 {
  text-align: center;
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
}

h5{
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Anton', sans-serif;
  margin-top: 0;
  margin-bottom: .5em;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  font-size: .875rem;
  padding: .7rem;
  text-decoration: none;
  text-align: center;
  margin: 1rem;
}

.btn-small {
  background-color: #333;
}

.button {
  display: block;
  border-radius: 6px;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
}
a:hover {
  background-color: #f2f2f2;
}

.button:hover {
  background-color: #000;
}

.ordering {
  display: block;
  margin: auto;
}

.ximage {
  padding-bottom: 0;
  margin: auto;
}

.left {
  display: none;
}

.right {
  display: none;
}

@media only screen and (min-width: 25em) {

  html{
    font-size: 100%;
    line-height: 1.5em;
  }
  section img {
    width: 50%;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.5em;
  }

  div {
    margin-left: 1em;
    display: inline-block;
    max-width: 46%;
  }

section img {
  width: 100%;
}

h2 {
  line-height: 1em;
}
  .delivery {
    display: block;
    transform: translateX(50%);
  }

  .brownies {
    margin-top: 1em;
  }

  .ximage {
    margin: auto;
    text-align: center;
    max-width: 100%;
    display: block;
  }
}

@media screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5em;
  }

  header .logo-left {
    height: 100px;
    float: right;
    display: inline-block;
  }

  header .logo-right {
    height: 100px;
    float: right;
    display: inline-block;
    padding-bottom: 0;
  }

  .left {
    float: left;
    display: inline-block;
  }

  .right {
    float: right;
    display: inline-block;
  }

  h1 {
    padding-left: 1em;
  }

  nav {
    display: block;
  }

}

@media screen and (min-width: 90em) {

  html {
    font-size: 130%;
    }

  .ximage {
    position: relative;
  }

  .ordering {
    position: absolute;
  }

}
