@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
  margin-bottom: 0;
}

nav {
  background-color: #000;
}

li {
  display: inline-block;
  width: 45%;
  text-align: center;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
}

div {
  display: block;
  margin-right: 0;
  padding-top: .7em;
  padding-bottom: 3em;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

section img {
  width: 100px;
  display: block;
  margin-left: none;
  margin-right: none;

}

h2 {
  font-size: 2rem;
  margin: 0;
  padding-left: .4em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Anton', sans-serif;
  padding-bottom: 1px;
}

p {
  font-size: .875rem;
  margin: 0;
  padding-left: .4em;
}

.lava {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 2px;
}

.truffles {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 2px;
}

.brownies {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 2px;
}

.cake {
  background-color: #e2e2e2;
  border: 1px solid #333;
  border-radius: 6px;
  padding-bottom: 4px;
}

h3 {
  font-style: none;
  font-size: .875rem;
  margin: 0;
  padding-left: .4em;
  padding-bottom: .7em;
}

h4 {
  text-align: center;
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  font-size: .875rem;
  padding: .7rem;
  text-decoration: none;
  text-align: center;
  margin: 1rem;
}

.btn-small {
  background-color: #333;
}

.button {
  display: block;
  border-radius: 6px;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
}
a:hover {
  background-color: #f2f2f2;
}

.button:hover {
  background-color: #000;
}

@media only screen and (min-width: 38em) {

  div {
    margin-left: 1em;
    display: inline-block;
    max-width: 47%;
  }

  .delivery {
    display: block;
    transform: translateX(50%);
  }

  .brownies {
      margin-top: 1em;
  }
}

@media screen and (max-width: 44.5625em) and (min-width: 38em) {

  .truffles p {
    min-height: 84px;
  }

  .truffles h2 {
    min-height: 129px;
  }

  .cake h2 {
    min-height: 129px;
  }
}

@media screen and (min-width: 60em) {

h1 {
  text-align: left;
  padding-left: 1em;
}

nav {
  display: block;
}

}
